@import url("https://fonts.googleapis.com/css?family=Tilt%20Neon:700|Poppins:400");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Tilt Neon";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
.my-swal-title {
  color: #ffffff; /* White color for title text */
}
.my-swal-text {
  color: #efe7e7; /* Light gray color for text */
}
.my-swal-popup {
  background-color: #1f2937; /* Dark background color */
  border: 1px solid #4b5563; /* Darker border color */
}
.my-swal-confirm-button {
  background-color: #2563eb; /* Blue color for confirm button */
  color: white;
}
.my-swal-cancel-button {
  background-color: #ef4444; /* Red color for cancel button */
  color: white;
}
